/* src/components/MobileMenu.css */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  
  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .mobile-menu ul li {
    margin: 20px 0;
  }
  
  .mobile-menu ul li a,
  .mobile-menu ul li button {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  